/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */


.kontejner {
	display: flex;
	justify-content: center;
}
.kontakty {
	display: flex;
	justify-content: center;
}

.tym {
	display:flex;
}

.foto {display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.popis {display: flex;
justify-content: center;
flex-wrap: wrap;}

h1 {text-align: center;
}

.osoba {
	padding: 20px;
	margin: 10px;
	border: 3px solid silver;
	border-radius: 10%;
	}


.foto img {
	border-radius: 50%;
}


.popis {
	text-align: center;
}


@media (max-width: 540px) {
	.tym {flex-direction: column;
	}

	.osoba {width:260px;}


}

@media (min-width:540px) and (max-width:960px) {
	.tym {flex-direction: row;
		flex-wrap: wrap;
	}
.foto {float:left;
margin-right: 10px;}	

.popis {text-align: justify;}



.osoba {width:370px;
height: 195px;
border-radius: 8px;}
}

@media (min-width:960px) {
		.tym {flex-direction:row;
		flex:1 1 260px}

	.osoba {width:260px;}
	}
